

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #ce6a6a;
}



/*client css*/



/**/



.imgWidth > img{
    max-width: 45%;
    
}

a {
  color: #6156a8;
  text-decoration: none;
}

img, svg, image {
width:  100%;
}

.myGroup > h1{
        text-align: center;
    color: #a80000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 50px;
    padding-bottom: 40px;
    font-weight: 800;
    background-color: rgba();
}


/*--//responsive--*/
