.my_product > h1{
    text-align: center; 
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 4em;
    padding-top: 100px;
font-family: 'Cinzel', serif;
    letter-spacing: 10px;
}
.my_product > h2 {
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 2em;
        padding-top: 200px;

/*    font-weight: 500;*/
    
}
.bg_product{
     background-color: #131313;
    padding-bottom: 50px;
    margin-bottom: 230px;
}

@media (max-width: 414px)
{
    .my_product >h1{
        font-size: 1.6em;
    }
    .my_product >h2{
        font-size: 1.3em;
    }
}