


/*-- nav --*/

.navbar-default {
    background: none;
    border: none;
}

.w3_navigation {
/*
    border-top: none;
    position: relative;
*/
    background: #000;
    width: 100%;
    border-bottom: 4px solid #E50000;
}

.navbar-nav {
    float: none;
}

.navbar-collapse {
    padding: 0;
    position: relative;
}

.navbar-right {
    float: none !important;
    margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fa3d03;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #E50000;
}

.navbar-default .navbar-nav>li>a {
    color: #E50000 !important;
}

.navbar-nav>li>a {
    margin: 0;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 800;
    
        padding: 0.5em 1.7em;
    letter-spacing: 3px;
}

.navbar-nav>li:nth-child(3) {
    margin-right: 24em !important;
}

.w3_navigation_pos {
    position: absolute;
    top: 24%;
    left: 39%;
    z-index: 999;
}

.w3_navigation_pos h1 a {
    font-size: 1em;
    letter-spacing: 1.8px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    background: none;
    padding: 0px 45px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

.w3_navigation_pos h1 a span {
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    letter-spacing: 4px;

    font-size: 9px;
    letter-spacing: 4px;
    font-size: 14px;
    letter-spacing: 5px;
    font-family: 'Archivo', sans-serif;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E50000;
}

.menu__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: block;
    margin: 1em 0;
}

.menu__link {
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Miranda */

.menu--miranda .menu__item {
    position: relative;
    margin: 1.5em 1em 0.7em;
}

.menu--miranda .menu__item:last-child {
    margin-right: 0;
}

.menu--miranda .menu__link {
    position: relative;
    display: block;
    text-align: center;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.menu--miranda .menu__link:hover,
.menu--miranda .menu__link:focus {
    color: #929292;
}

.menu--miranda .menu__item--current .menu__link {
    color: #fff !important;
}

.menu--miranda .menu__item::before,
.menu--miranda .menu__item::after,
.menu--miranda .menu__link::before,
.menu--miranda .menu__link::after {
    content: '';
    position: absolute;
    background: #E50000;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* left and right line */

.menu--miranda .menu__item::before,
.menu--miranda .menu__item::after {
    top: 0;
    width: 1px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
}

/* left line */

.menu--miranda .menu__item::before {
    left: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

/* right line */

.menu--miranda .menu__item::after {
    right: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

/* top and bottom line */

.menu--miranda .menu__link::before,
.menu--miranda .menu__link::after {
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

/* top line */

.menu--miranda .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

/* bottom line */

.menu--miranda .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

/* Delays (first reverse, then current) */

/* These rules can be simplified, but let's keep it for better readability */

/* bottom line */

.menu--miranda .menu__item .menu__link::after {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu--miranda .menu__item--current .menu__link::after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* left line */

.menu--miranda .menu__item::before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu--miranda .menu__item--current::before {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* top line */

.menu--miranda .menu__item .menu__link::before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu--miranda .menu__item--current .menu__link::before {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

/* right line */

.menu--miranda .menu__item--current::after {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu--miranda .menu__item--current::before,
.menu--miranda .menu__item--current::after,
.menu--miranda .menu__item--current .menu__link::before,
.menu--miranda .menu__item--current .menu__link::after,
.menu__item:hover::before,
.menu__item:hover::after,
.menu--miranda .menu__link:hover::before,
.menu--miranda .menu__link:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}



/* -- Responsive code -- */



@media screen and (max-width: 1080px) {
    
  
    .menu--miranda .menu__item {
        margin: 1.8em 1em 0.5em 0;
    }
    .w3_navigation_pos h1 a {
        font-size: 1em;
        padding: 0.1em 0.5em 0.2em;
    }
    .w3_navigation_pos h1 a i {
        letter-spacing: 7px;
    }
    .navbar-nav>li>a {
        padding: 1em 1.2em;
    }
    .navbar-nav>li:nth-child(3) {
        margin-right: 15.6em !important;
    }
    
    
}




@media screen and (max-width: 991px) {
    .menu--miranda .menu__item {
    margin: 23px 3px 0px;
}
    .navbar-nav>li>a {
        padding: 1em .88em;
        letter-spacing: 1px;
    }
    .w3_navigation_pos h1 a {
        font-size: .9em;
    }
    
    .w3_navigation_pos {
        left: 37%;
        top: 37%;
    }
    .menu--miranda .menu__item {
        margin: 23px 3px 0px;
    }
    
    .navbar-nav>li:nth-child(3) {
        margin-right: 12em !important;
    }
    
    .w3ls-overlay h4 {
            font-size: 1.6em;
    }
}
        






@media (max-width: 767px) {

    .w3_navigation_pos h1 a {
        font-size: .9em;
    }
    .w3_navigation_pos {
        position: inherit;
        float: left;
        margin: 1em 0;
    }
    .navbar-default {
        border: none;
        margin: 0;
        padding: 0;
        position: inherit;
        width: 100%;
        z-index: 999;
        background: #000;
    }
    .navbar-default .navbar-toggle {
        border-color: #E50000;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-toggle {
/*        margin: 1.0em 0 0;*/
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
    }
    .menu__list {
        background: rgba(0, 0, 0, 1);
        margin-top: 0px;
    }
    .menu--miranda .menu__item {
        margin: 1em;
        font-size: 14px;
    }
    .navbar-nav>li:nth-child(3) {
        margin-right: 1em !important;
    }
    .menu--miranda .menu__item:last-child {
        margin-right: 1em;
    }
}


@media screen and (max-width: 667px) {

    .navbar-default {
        width: 100%;
    }
    
}





@media screen and (max-width: 414px) {

    .navbar-default {
        width:100%;
    }
   
}

@media screen and (max-width: 384px) {
    
    .w3_navigation_pos h1 a {
        font-size: .85em;
        letter-spacing: 1px;
    }
    .w3_navigation_pos {
        margin: 22px 0 0;
    }
    .w3_navigation_pos h1 a span {
        letter-spacing: 3px
    }
   
}

@media screen and (max-width: 375px) {
    .banner-text h2 {
        font-size: 2.85em;
    }
    .w3-team.w3l-button a {
        width: 88%;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 320px) {
    .w3_navigation_pos h1 a {
        font-size: .8em;
    }
  
}

/* -- //Responsive code -- */





