/*
@font-face{
    src: url(Montserrat-Bold.ttf);
    font-family: mon;
}
@font-face{
    src: url(calibri.ttf);
    font-family: cali;
}
*/


body{
	padding-top:0px;
	margin:0;
	background:#131313;
	position:relative;
/*	font-family: 'Archivo', sans-serif;*/
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Nunito Sans', sans-serif;
}	
p {
    margin: 0;
font-family: 'Frank Ruhl Libre', serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
    color:rgba(255, 255, 255, 0.7);
    line-height: 1.9em;
}



/*CLIENT CSS*/


.clientcss >h2{
    color:white;
/*       text-align: center;*/
 

    padding: 40px;
/*    font-weight: 20;*/
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.clientcss > h2::after,h2::before{
    content: "";
    background: #E50000;
    height: 3px;
    margin: 15px;
    flex: 1;
}


/*END CLIENT CSS*/





/*modal css */



.modal-custom-lg .modal-dialog {
    width: 100%;
    height: 100%;
}

.modal-custom-lg .modal-content {
    width: 100%;
    height: 100%;
}


.modal-custom-lg .modal-dialog {
    width: 100%;
    height: 100%;
}

.modal-custom-lg .modal-content {
    width: 100%;
    height: 100%;
}


.Mbtn_size{
    width:200px;
    margin-bottom: 70px;
    margin-top: 70px;
}

/*
.modalText{
    margin-top: 30px;
    margin-bottom: 30px;
}
*/

.a1{
    font-size: 2em;
    
}
/*

.grid {
  display: grid;
  grid-template-areas: "one two three ";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 5px ;
}
*/
/*
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.my-video-margin{
    margin-left: 13px;
}
.mywidth{
    width: 33%;
}

/*
.grid > div {
    border: 1px solid rgba(100, 100, 100, 0.6);
    background-color: rgba(100, 100, 100, 0.3);
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.myGrid_bg{
    padding: 50px;
}
.myvideo-css{
         position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/
.Videodiv > h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-size: 3em;
    background-color: rgba(0,0,0,0.2);
}
.bggallery{
    background: none;
}

.container-fluid1 {
    background: #000000;
  color:#ffffff;
    margin: 40px auto 10px;
    padding: 20px 0px ;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.embed-responsive-4by3 {
    padding-bottom: 48%;   
}

/*
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.w3l-main{
	position:relative;
}
/*about
/* about */

section.agile_stats {
    padding: 1em 0 7em;
    margin-top: 10em;
}

section.agile_stats i {
    color: #02b3e4;
}

.agile_stats img {
    left: 20%;
    top: -88%;
}

.stat-row {
    padding: 5em 3em 4em;
    box-shadow: 0 27px 24px rgba(0, 0, 0, 0.1), 0 40px 77px rgba(0, 0, 0, 0.1);
    margin-top: 22em;
}

.

/* //about */
/* about bottom */
/* .about-top { 
    background: url(../images/ab.png) repeat center;
    background-size: contain;
    position: relative;
}
.about-top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 25, 73, 0.74);
}*/
.agileits-about-grids {
    background: #eee;
    padding: 2em;
}

.agileits-about-grids span {
    color: #000;
    font-size: 3em;
}

.agileits-about-grids h4 span {
    width: 40px;
    height: 2px;
    background: #ff1949;
    display: inline-block;
    margin-left: 5px;
}

.agileits-about-grids h4 {
    text-transform: capitalize;
    font-size: 1.2em;
    margin: 1.5em 0;
    color: #333;
    font-weight: 800;
}

.agileits-service-grids h4 {
    text-transform: capitalize;
    font-size: 1.2em;
    margin: 1.5em 0 0;
    color: #333;
    font-weight: 800;
}

.agileits-service-grids {
    background: #eee;
}

.agileits-about-grids span {
    font-size: 3em;
    color: #000000;
}

.abbot-right .card {
    background: transparent;
    border: none;
    color:#fff;
   
    
}

.abt_card_btn {
    font-size: 1.2em;
    letter-spacing: 4px;
    color: #fff !important;
}

.left-about-bg {
    background: url(../images/Cover02_AboutUs.jpg) no-repeat right;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 30px;
 
}

#aboutus{
    padding-bottom: 100px;
}

.about-sub-title {
    margin: 1em 0;
    padding-top: 45px;
    font-weight: 60;
    color: rgba(168,0,0);
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;

    
}



.vl {
    
    border-left: 4px solid rgba(168,0,0,0.4);

    margin-left: -3px;
    top: 0;
     border-right: 4px solid rgba(168,0,0,0.4);
    margin-right: -3px;
    letter-spacing: 2px;
  
    
}
/*/about*/
/*--banner--*/
.center-container {
    background: rgba(0, 0, 0, 0.21);
}
.logo h1 {
    font-size: 4em;
    display: inline-block;
    line-height: 1em;
}
.logo h1 a {
    color: #E3535D;
	text-decoration:none;
}
.logo h1 a:hover{
    color: #E3535D;
}

.w3l-main{
background-color: rgba(0,0,0,0.3);  
   
}


.banner-text-info {
    margin: 20em 0 19em;
    text-align: center;
}
.banner-text h3.bnr-title {
   color: #f50101;
    font-size: 5em;
    letter-spacing: 6px;
    font-family: 'Chakra Petch', sans-serif;
}
.banner-text p {
    font-size: 1.7em;
    font-weight: 100px;
    color: #e6e6e6;
    margin-top: 3em;
    letter-spacing: 4px;
    line-height: 2em;
	position:relative;
    font-family: 'Amatic SC', cursive;
}
.banner-text p:before {
    content: " ";
    position: absolute;
    background: #fff;
    width: 4%;
    height: 1px;
    top: 50%;
    left: 20%;
}
.banner-text p:after {
    content: " ";
    position: absolute;
    background: #fff;
    width: 4%;
    height: 1px;
    top: 50%;
    right: 20%;
}
/*--Slider Part starts Here--*/
#slider2,
#slider3 {
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.callbacks_container {
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks_nav:hover{
	opacity: .9;
	-moz-opacity: .9;
}
.callbacks_nav:active {
	opacity: 1.0;
	-moz-opacity: 1;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0 .1em;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    z-index: 999;
    bottom: 5%;
    left: 47%;
    padding: 0;
    margin: 0;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #F6F6F6;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.callbacks_here a:after {
    background-color: #E3535D;
}
a.callbacks_nav.callbacks1_nav.next {
    display: none;
}
a.callbacks_nav.callbacks1_nav.prev {
    display: none;
}
/*--//Slider part Ends Here --*/
/*-- search --*/
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
/*-- w3layouts --*/
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}
.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: -57px;
    right: 0;
}
.cd-header-buttons li {
	display: inline-block;
}

.wthree_title_agile {
	text-align: center;
}
h2.wthree_title_agile, h3.wthree_title_agile {
    font-size: 3.5em;
/*    letter-spacing: 2px;*/
    margin-bottom: 1em;
    color: #000;
}
h2.wthree_title_agile span, h3.wthree_title_agile span {
    font-family: 'Roboto Condensed', sans-serif;
/*    letter-spacing: 10px;*/
    font-size: 1.3em;
    color: #fff;
}
h2.wthree_title_agile, .gallery h3.wthree_title_agile {
    color: #fff;
}

.galStyle{
    padding-bottom: 100px;padding-top: 100px;
}

.icons ul{
	padding:0;
	margin:0;
}
.icons ul li{
	display:inline-block;
}
.icons ul li.team-twitter{
	margin:0 1em;
}
.icons ul li a i{
      color: #fff;
    text-align: center;
    height: 32px;
    width: 32px;
    background: #181819;
    line-height: 30px;
	  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.icons ul li a i:hover{
	color: #fff;
	background: #3d5ae8;
}
.team-grid {
    text-align: center;
}

.info {
    position: relative;
    padding-top: 2em;
}

/* Custom Animate.css */

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

 @-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/*-- //arrow-animation --*/



/*-- model --*/  
/*
.modal-header h4 {
    color: #f70255;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    margin: .5em 0 1em;
}
.modal-header span {
    font-size: 1em;
    color: #777;
    letter-spacing: 1px;
    line-height: 33px;
    padding-bottom: 16px;
	display:inline-block;
	margin-top:1em;
}
.modal-header img{
    float: left;
    width: 100%;
}
*/
/*-- //model --*/ 
a.view.rew3 {
    font-size: 1.1em;
    background: none;
    color: #f70255;
    margin: 3em 0 .2em;
    display: inline-block;
    letter-spacing: 1px;
}
a.view.rew3:hover {
    color: #3d5ae8;
} 
a.view.rew3 span {
    padding-right: 1em;
}

/*-- Gallery --*/
.gallery-grids img {
    width: 100%;
}
.gallery-grids { 
	padding: 0;
}
/*-- gallery-hover effect --*/
.w3ls-hover {
	background-color: #FFF;
	display: block; 
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-align: center;
}
.w3ls-hover img {  
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
} 
.w3ls-hover .view-caption { 
    padding: 3em 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
}
.w3ls-hover .view-caption h5{
	color: #fff;
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 5px; 
}
.w3ls-hover .view-caption span {
    color: #fff;
    font-size: 1em;
    margin-top: 5%;
    display: inline-block;
    border: 2px solid #fff;
    padding: 12px;
}
.w3ls-hover:hover .view-caption { 
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	border-radius: 0;
}
.w3ls-hover .view-caption span:hover {
    color: #a80000;
    border-color: #a80000;
}
/*-- //Gallery --*/


/*--placeholder-color--*/
::-webkit-input-placeholder{
	color:#fff; 
}
:-moz-placeholder { /* Firefox 18- */
   color:#fff; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color:#fff; 
}
:-ms-input-placeholder {  
   color:#fff;  
}
/*--//placeholder-color--*/



/*-- animate-icon --*/
.thim-click-to-bottom {
    position: absolute;
    bottom: 19%;
    right: 5%;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
}
.thim-click-to-bottom i {
    color: #f70255;
    padding: .8em .5em;
    border: 2px dotted #fff;
    border-radius: 20px;
    font-size: 1.2em;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

/*--gallery-starts--*/
.gallery {
/*    background: url(http://www.thisiscolossal.com/wp-content/uploads/2018/07/JoshSheldon6.gif)  no-repeat 0px 0px fixed;*/
    background: url(../images/bg2.jpg) no-repeat 0px 0px fixed;
    background-size: cover;
}

.agile_team_grids {
    margin-top: 3em;
}
.team-left-w3l-agile{
        float: left;
    width: 24%;
    position: relative;
    padding: 10px;
    margin: 0 0 5px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 1%;
	}
.team-left-w3l-agile:before {
    bottom: -4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 98%;
}
.team-left-w3l-agile:after {
    bottom: -8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 96%;
}
ul.social-icons li {
    display: inline-block;
    margin-right: 12px;
}
ul.social-icons li a{
	  color:#fff;
}
.agile_team_grid1 {
    text-align: center;
    padding: 1em 0;
    border-bottom: 3px solid #f70255;
}
.agile_team_grid1 h3 {
    font-size: 1.6em;
    color: #3d5ae8;
    margin-bottom: .5em;
    letter-spacing: 1px;
}
.agile_team_grid_main{
	position:relative;
	overflow:hidden;
}
.agile_team_grid_main .p-mask{
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.72);
    bottom: 0%;
    position: absolute;
    padding:1em 0 .6em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: center;
}
.agile_team_grid:hover .p-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
/*--team-ends--*/

.myFooter{
    padding-bottom: 20px;
    padding-top: 80px;
}

.myFrame{
    padding: 10px;
}



/*--responsive--*/

@media(max-width: 1680px){
	.service-2 a {
		margin: 1.07em 0 0;
	}
	.service {
		padding: 4em 3em 6.3em;
	}
    
}
@media(max-width: 1600px){
	.service-box:nth-child(2) {
		margin: 2.5em 0;
	}
	.service-box:nth-child(4) {
		margin-top: 2.35em;
	}
	.service-1 {
		padding: 3em 2em 3em 14em;
	}
	.service {
		padding:3em;
	}
	.service-2 a {
		margin: 1em 0 0;
	}
}
@media(max-width: 1440px){
	.banner-text-info {
		margin: 16em 0 18em;
	}
	.service-1 {
		padding: 3em 2em 3em 12.9em;
	}
	.hi-icon-effect-6 {
		width: 19%;
	}
    h3.b-w3ltxt {
        font-size: 2.3em;
    }

/*
    .services-right-img {
        right: 200px;
    }
*/
}
@media(max-width: 1366px){
	.banner-text h3.bnr-title {
		font-size: 5em;
	}
	.banner-text-info {
		margin: 16em 0 16.8em;
	}
	.we-po-head {
		top: 4%;
	}
	.service-2 a {
		font-size: 1.3em;
	}
	.service-1 p {
		margin-bottom: 1.8em;
	}
	.service {
		padding: 2em;
	}
	.service-box:nth-child(2) {
		margin: 2.35em 0;
	}
	h2.wthree_title_agile, h3.wthree_title_agile {
		font-size: 3.2em;
	}
	.thim-click-to-bottom {
		bottom: 15%;
		right: 3%;
	}
}
@media(max-width: 1280px){
	.social {
		margin-top: 1.3em;
	}
	.social-icons-agileits ul li a {
		font-size: 1em;
	}
	.logo-agileinfo h1 a {
		font-size: 1.5em;
	}
	.nav > li > a {
		padding: 1.3em 1.3em;
	}
	.banner-text-info {
		margin: 15em 0 15em;
	}
	.we-po-head {
		top: 12%;
	}
	.we-po-head img {
		width: 86%;
	}
	.about_section, .sect-main-con, .gallery, .team, .contact-w3l {
		padding: 4em 0;
	}
	.w3l-poi {
		top: 76.4%;
	}
	.w3l-poi img {
		width: 80%;
	}
	.service-1 h4, .service-2 h4, .service h4 {
		font-size: 2em;
	}
	.service-2 a {
		font-size: 1.2em;
	}
	.service-1 {
		padding: 3em 2em 3em 5em;
	}
	a.view.rew3 {
		margin: 2em 0 .2em;
	}
	.service-1 p {
		margin-bottom: 1.5em;
	}
	.service-2 a {
		margin: 1.23em 0 0;
	}
	.service-box:nth-child(2) {
		margin: 2.05em 0;
	}
	.agile-copy {
		padding-right: 3em;
	}
}
@media(max-width: 1080px){
	.banner-text h3.bnr-title {
		font-size: 4em;
        padding: 50px;
	}
	.banner-text p {
		font-size: .9em;
		margin-top: 2em;
		letter-spacing: 3px;
	}
	.banner-text p:before {
		left: 28%;
	}
	.banner-text p:after {
		right: 28%;
	}
	.banner-text-info {
		margin: 12em 0 14.5em;
	}
	.we-po-head img {
		width: 73%;
	}
	.service-2 {
		padding: 3em 1em;
	}
	.service-2 a {
		font-size: 1.1em;
	}
	.service-1 p {
		font-size: .9em;
	}
	.service-1 p {
		margin-bottom: 1.65em;
	}
	.hi-icon:before {
		font-size: 17px;
		line-height: 63px;
	}
	.hi-icon {
		width: 65px;
		height: 65px;
	}
	.hi-text p {
		font-size: .9em;
	}
	.hi-icon-effect-6 {
		width: 22%;
	}
	.service-box:nth-child(2) {
		margin: 2em 0;
	}
	.service-box:nth-child(4) {
		margin-top: 1.7em;
	}
	.w3ls-hover .view-caption h5 {
		font-size: 1.5em;
	}
	.w3ls-hover .view-caption {
		padding: 5em 0;
	}
}
@media(max-width: 1050px){
	.banner-text-info {
		margin: 12em 0 13em;
	}
	.we-po-head {
		top: 8%;
	}
	.w3l-poi img {
		width: 70%;
	}
	.w3l-poi {
		top: 79.8%;
	}
	.service-1 h4, .service-2 h4, .service h4 {
		font-size: 1.8em;
	}
	.service-1 p {
		margin-bottom: 2.1em;
	}
}
@media(max-width: 1024px){
    .mywidth{
        width: 33%;
    }
   
	.banner-text-info {
		margin: 12em 0 12em;
	}
	.we-po-head {
		top: 5%;
	}
	.service-1 p {
		margin-bottom: 1em;
	}
	a.view.rew3 {
		margin: 2em 0 0em;
	}
	.agile-copy {
		padding-right: 4em;
	}
}
@media(max-width: 991px){
    .mywidth{
        width: 100%;
    }
    
	.social .link {
		width: 35px;
		height: 35px;
		margin-right: 6px;
		font-size: 14px;
	}
	.social-icons-agileits {
		padding-top: .5em;
	}
	.banner-text-info {
		margin: 11em 0 12em;
	}
	.we-po-head {
		top: 12.5%;
	}
	.we-po-head img {
		width: 65%;
	}
	.banner-text p {
		letter-spacing: 2px;
	}
	.col-md-2.team-grid {
		float: left;
		width: 30%;
	}
	.col-md-5.team-grid {
		width: 35%;
		float: left;
	}
	.img img {
		width: 100%;
	}
	.info h3, .info h4 {
		font-size: 3.2em;
	}
	.info {
		padding-top: 1em;
	}
	.arrow-container {
		top: 29%;
	}
	.w3l-poi {
		top: 78.8%;
	}
	.service-1 {
		padding: 3em 5em 3em 19em;
	}
	.service-2 a {
		font-size: 1.2em;
		width: 30%;
		margin: 1.3em auto 0;
	}
	.service-2 h4 {
		text-align: center;
	}
	.service {
		padding: 3em 5em;
	}
	.hi-icon-effect-6 {
		width: 12%;
	}
	.service-box:nth-child(2) {
		margin: 2.5em 0;
	}
	.service-box:nth-child(4) {
		margin-top: 2.5em;
	}
	.service-1 h4, .service-2 h4, .service h4 {
		font-size: 2.2em;
	}
	.agile-news-left {
		float: left;
		width: 33%;
	}
	.w3-agile-news-info a {
		font-size: 1.2em;
	}
	.w3ls-hover .view-caption h5 {
		font-size: 1.2em;
	}
	.w3ls-hover .view-caption span {
		padding: 9px;
	}
	.w3ls-hover .view-caption {
		padding: 4em 0;
	}
	h2.wthree_title_agile, h3.wthree_title_agile {
		font-size: 2.8em;
	}
	.agile_team_grid1 h3 {
		font-size: 1.3em;
		letter-spacing: 0px;
	}
	.agileinfo_counter_section h3 {
		font-size: 3.5em;
	}
	.agileinfo_counter_section {
		padding: 5em 0;
	}
	.agileinfo_counter_section p {
		font-size: .8em;
	}
	.form-bg-w3ls {
		width: 92%;
	}
	.agile-copy {
		padding-right: 0em;
	}
	.thim-click-to-bottom {
		bottom: 17%;
		right: 5%;
	}
}
@media(max-width: 900px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.banner-text-info {
		margin: 10em 0 10.5em;
	}
	.we-po-head {
		top: 12%;
	}
	.nav > li > a {
		padding: 1.3em .8em;
	}
	.w3l-poi img {
		width: 60%;
	}
	.w3l-poi {
		top: 82.4%;
	}
}
@media(max-width: 800px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.banner-text h3.bnr-title {
		font-size: 3em;
		letter-spacing: 2px;
        margin: 4em 0;
	}
	.banner-text p {
		font-size: .8em;
	}
	.banner-text p:before {
		left: 25%;
	}
	.banner-text p:after {
		right: 25%;
	}
	.banner-text-info {
		margin: 9em 0 10em;
	}
	.we-po-head img {
		width: 50%;
	}
	.we-po-head {
		top: 19%;
	}
	.w3l-poi img {
		width: 45%;
	}
	.w3l-poi {
		top: 87.6%;
	}
	.service-1 {
		padding: 3em 5em 3em 15em;
	}
	.service-2 a {
		width: 40%;
	}
	.hi-icon-effect-6 {
		width: 14%;
	}
	.footer-w3layouts p {
		letter-spacing: 1px;
	}
	.agile-copy {
		padding-right: 5em;
	}
}
@media(max-width: 768px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.nav > li > a {
		font-size: 1em;
	}
	.w3l-poi {
		top: 87.4%;
	}
	.banner-text-info {
		margin: 0 0 1em;
	}
	.we-po-head {
		top: 15%;
	}
}
@media(max-width: 767px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	vbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	.navbar-default .navbar-toggle {
		border-color: #f70255;
		border-radius:0px;
	}
	.navbar-toggle {
		margin:1em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-brand {
		font-size: .9em;
	}
	.navbar-brand span {
		padding: .2em .42em;
	}
	.wthree_logo, .navbar-brand {
		height: 65px;
	}
	.navbar-default {
		padding: .2em 0em;
		width: 100%;
	}
	.navbar-nav {
		margin: 0;
		background: #f5f5f5;
		text-align: center;
		padding: 1em 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #e2e2e2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		background-color: #fff;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #777;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: inherit;
		width: 100%;
		
		z-index: 999;
		
	}
	.cd-header-buttons {
		right: -36px;
	}
	.nav > li > a {
		padding: 1em 0;
	}
	.contact-agileits-w3layouts {
		margin-top: 0;
	}
}
@media(max-width: 736px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.logo-agileinfo h1 a {
		font-size: 1.3em;
		letter-spacing: 9px;
	}
	.navbar-toggle {
		margin: .5em;
	}
	.banner-text-info {
		margin: 8em 0 8.8em;
	}
	.we-po-head {
		top: 12%;
	}
	.about_section, .sect-main-con, .gallery, .team, .contact-w3l {
		padding: 3.5em 0;
	}
	.w3l-poi img {
		width: 40%;
	}
	.w3l-poi {
		top: 88.8%;
	}
	.w3ls-hover .view-caption {
		padding: 6em 0;
	}
	.w3ls-hover .view-caption h5 {
		letter-spacing: 1px;
	}
	.agileinfo_counter_section h3 {
		font-size: 3em;
	}
	.footer-w3layouts p {
		font-size: 14px;
	}
}
@media(max-width: 667px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.banner-text h3.bnr-title {
		font-size: 2.8em;
	}
	.cd-header-buttons {
		right: -39px;
		top: -50px;
	}
	.social-icons-agileits ul li {
		font-size: .9em;
	}
	.banner-text-info {
		margin: 7em 0 8em;
	}
	.we-po-head {
		top: 22%;
	}
	.we-po-head img {
		width: 40%;
	}
	h2.wthree_title_agile, h3.wthree_title_agile {
		font-size: 2.6em;
		letter-spacing: 1px;
	}
	.info h3, .info h4 {
		font-size: 2.8em;
	}
	.info {
		padding-top: .5em;
	}
	.info h3 {
		padding-bottom: 2.5em;
	}
	.arrow-container {
		top: 26%;
	}
	.banner-bottom {
		padding-top: 3em;
		padding-bottom: 2em;
	}
	.service-1 {
		padding: 3em 5em 3em 9em;
	}
	.hi-icon-effect-6 {
		width: 18%;
	}
	.agile-news-left {
		float: none;
		width: 100%;
	}
	.agile-news-left:nth-child(2) {
		margin:3em 0;
	}
	.w3ls-hover .view-caption {
		padding: 5em 0;
	}
	.agile-logo {
		float: none;
		text-align: center;
	}
	.thim-click-to-bottom {
		bottom: 31%;
	}
}
@media(max-width: 640px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.banner-text-info {
		margin: 7em 0 7em;
	}
}
@media(max-width: 600px){
    .my-video-margin{
        margin-left: 0px;
    }
	.banner-text-info {
		margin: 6em 0 6.8em;
	}
	.service-2 a {
		width: 50%;
	}
}
@media(max-width: 568px){
    .mywidth{
        width: 100%;
    }
    .my-video-margin{
        margin-left: 0px;
    }
	.banner-text h3.bnr-title {
		font-size: 2.5em;
	}
	.navbar-toggle {
		margin: .8em;
		padding: 7px 7px;
	}
	.logo-agileinfo h1 a {
		font-size: 1.2em;
	}
	.banner-text p {
		margin-top: 1.2em;
	}
	.banner-text-info {
		margin: 6em 0 6.5em;
	}
	.we-po-head {
		top: 18%;
	}
	.we-po-head img {
		width: 35%;
	}
	.team-grid p {
		font-size: .8em;
	}
	.about_section, .sect-main-con, .gallery, .team, .contact-w3l {
		padding: 3em 0;
	}
	.info {
		padding-top: 0;
	}
	.banner-bottom {
		padding-bottom: 3em;
	}
	.w3l-poi {
		top: 88.5%;
	}
	.service-1 h4, .service-2 h4, .service h4 {
		font-size: 1.8em;
	}
	.service-1 {
		padding: 3em 2em 3em 5em;
	}
	.service-2 a {
		width: 60%;
	}
	.service {
		padding: 3em 3em;
	}
	.hi-icon-effect-6 {
		width: 20%;
	}
	.w3ls-hover .view-caption {
		padding: 4em 0;
	}
	.team-left-w3l-agile {
		width: 49%;
	}
	.team-left-w3l-agile:nth-child(3), .team-left-w3l-agile:nth-child(4) {
		margin:3em 0 0;
	}
	.form-bg-w3ls {
		width: 100%;
	}
	.footer-w3layouts p {
		font-size: 14px;
		line-height: 2.5;
		letter-spacing: 2px;
	}
	.thim-click-to-bottom {
		bottom: 32%;
		right: 7%;
	}
    .left-about-bg, .last-about-bg, .right-about-bg {
    min-height: 170px;
}
}
@media(max-width: 480px){
    .mywidth{
        width: 100%;
    }
	.social-icons-agileits ul li a {
		padding: 3px;
	}
	.header-top-agile {
		padding: 1em 1em 0;
	}
	.social .link {
		width: 30px;
		height: 30px;
		margin-right: 0px;
	}
	.header-bottom-agile {
		padding: 0 2em;
	}
	.banner-text-info {
		margin: 4.5em 0 5em;
	}
	.cd-header-buttons {
		right: -28px;
		top: -50px;
	}
	.banner-text p {
		letter-spacing: 1px;
	}
	.we-po-head {
		top: 16%;
	}
	.we-po-head img {
		width: 30%;
	}
	h2.wthree_title_agile, h3.wthree_title_agile {
		font-size: 2.4em;
		letter-spacing: 1px;
		margin-bottom: .8em;
	}
	.col-md-5.team-grid {
		width: 100%;
		float: none;
	}
	.col-md-2.team-grid {
		float: none;
		width: 100%;
		margin: 3em 0;
	}
	.w3l-poi {
		top: 94.5%;
	}
	.service-1 {
		padding: 3em 2em 3em 2em;
	}
	.service-2 a {
		width: 70%;
	}
	.hi-icon-effect-6 {
		width: 24%;
	}
	.modal-header h4 {
		font-size: 1.8em;
	}
	.modal-header span {
		font-size: .9em;
		line-height: 28px;
		padding-bottom: 7px;
	}
	.w3ls-hover .view-caption h5 {
		font-size: .9em;
	}
	.w3ls-hover .view-caption span {
		padding: 8px;
		font-size: .8em;
	}
	.w3ls-hover .view-caption {
		padding: 3.2em 0;
	}
	.agileinfo_counter_section h3 {
		font-size: 2.5em;
	}
	.agileinfo_counter_section p {
		font-size: .7em;
	}
	.agileinfo_counter_section {
		padding: 4em 0;
	}
	.form-bg-w3ls h3 {
		margin-bottom: .5em;
	}
	.footer-w3layouts p {
		letter-spacing: 1px;
	}
	.img img {
		width: 70%;
	}
}
@media(max-width: 440px){
    .mywidth{
        width: 100%;
    }
	.social-icons-agileits ul li {
		letter-spacing: 0px;
	}
	.banner-text h3.bnr-title {
		font-size: 1.7em;
        font-weight: 600;
        margin: 5em 0;
	}
	.banner-text p {
		margin-top: .8em;
		font-size: .7em;
	}
	.we-po-head {
		top: 10%;
	}
	.w3l-poi {
		top: 93.5%;
	}
}
@media(max-width: 414px){
    .mywidth{
        width: 100%;
    }
	.banner-text-info {
		margin: 0 0 0.5em;
		padding-left: 2em;
	}
	.about_section, .sect-main-con, .gallery, .team, .contact-w3l {
		padding: 2em 0;
	}
	h2.wthree_title_agile, h3.wthree_title_agile {
		font-size: 2em;
		letter-spacing: 0px;
		margin-bottom: .8em;
	}
	.banner-bottom {
		padding-bottom: 5em;
		padding-top: 2em;
	}
	.w3l-poi img {
		width: 38%;
	}
	.service-1 h4, .service-2 h4, .service h4 {
		font-size: 1.7em;
	}
	.service-2 a {
		width: 80%;
	}
	.hi-icon-effect-6 {
		width: 25%;
	}
	.w3ls-hover .view-caption {
		padding: 2.5em 0;
	}
	.cd-search input {
		font-size: 1em;
	}
	.resp-tab-content {
		padding: 2em .5em 0;
	}
	.test-review img {
		width: 100%;
	}
	.w3l-poi {
		top: 93.3%;
	}
}
@media(max-width: 384px){
    .mywidth{
        width: 100%;
    }
	.banner-text-info {
		margin: 0 0 0.5em;
		padding-left: 0.5em;
	}
	.service {
		padding: 2em;
	}
	.gallery-grids {
		width: 50%;
	}
	.w3ls-hover .view-caption {
		padding: 4em 0;
	}
	.footer-w3layouts p {
		font-size: 13px;
	}
	.social-icons-agileits {
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.social {
		margin-top: 3.2em;
		float: none;
	}
	.w3l-poi {
		top: 93.25%;
	}
}
@media(max-width: 375px){
.mywidth{
        width: 100%;
    }
}
@media(max-width: 320px){
    .mywidth{
        width: 100%;
    }
	.logo-agileinfo h1 a {
		font-size: 1em;
	}
	.navbar-toggle .icon-bar {
		width: 19px;
	}
	.header-bottom-agile {
		padding: 0 2em 0 1em;
	}
	.banner-text h3.bnr-title {
		font-size: 1.2em;
	}
	.banner-text p {
		letter-spacing: 0px;
	}
	.banner-text-info {
		margin: 0 0 0.5em;
	}
	.we-po-head {
		top: 6%;
	}
	.about_section, .sect-main-con, .gallery, .team, .contact-w3l {
		padding: 1.5em 0;
	}
	h2.wthree_title_agile, h3.wthree_title_agile {
		font-size: 1.8em;
	}
	.team-grid p {
		padding: 1.2em 0;
	}
	.col-md-2.team-grid {
		margin: 2em 0;
	}
	.arrow-container {
		top: 23%;
	}
	.img img {
		width: 90%;
	}
	.w3l-poi img {
		width: 32%;
	}
	.w3l-poi {
		top: 94.25%;
	}
	.service-1 h4, .service-2 h4, .service h4 {
		font-size: 1.5em;
	}
	.service-1 p {
		font-size: .8em;
	}
	.service-1 h6 {
		font-size: 2.5em;
		padding: .2em .4em 0;
	}
	.service-1 {
		padding: 2em;
	}
	.modal-header h4 {
		font-size: 1.5em;
	}
	.modal-header span {
		font-size: .8em;
		line-height: 23px;
	}
	.hi-icon {
		width: 55px;
		height: 55px;
	}
	.hi-icon:before {
		font-size: 15px;
		line-height: 54px;
	}
	.serve-grids-top h5 {
		font-size: 1.3em;
	}
	.hi-text p {
		font-size: .8em;
	}
	.service {
		padding: 2em 1em;
	}
	.w3-agile-news-info p {
		font-size: .8em;
	}
	.w3-agile-news-info a {
		font-size: 1.1em;
	}
	.w3ls-hover .view-caption {
		padding: 3em 0;
	}
	.team-left-w3l-agile {
		width: 100%;
	}
	.team-left-w3l-agile:nth-child(2) {
	   margin-top:3em;
	}
	.agileinfo_counter_section h3 {
		font-size: 2em;
	}
	.agileinfo_counter_section p {
		letter-spacing: 1px;
	}
	.agileinfo_counter_section {
		padding: 3em 0;
	}
	.form-bg-w3ls h3 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.form-bg-w3ls {
		padding: 2em 1.5em;
	}
	.form-bg-w3ls input[type="text"], .form-bg-w3ls input[type="email"], .form-control, .form-bg-w3ls textarea {
		padding: 6px 10px!important;
		font-size: .9em;
	}
	.form-bg-w3ls input[type="submit"] {
		font-size: 12px;
		margin-top: 2em;
		padding: 8px 29px;
	}
	.agile-copy {
		padding-right: 0em;
	}
	.thim-click-to-bottom {
		bottom: 57%;
		right: 9%;
	}
}

@media (max-width: 414px){
    .mywidth{
        width: 100%;
    }
    .clientcss >h2{
        font-size: 1.9em;
    }
    .Videodiv > h1{
        font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 9px;
    font-size: 2em;
       background-color: rgba(0,0,0,0.2); 
    }
    
    .w3l-main{
        max-height: 100%;
    }
}
/*--//responsive--*/